<style>
.minesweeper 
{
	border: 2px solid #888888;
	border-collapse: collapse;
}

.minesweeper td
{
	border: 2px solid #888888;
	background-color: #DDDDDD;
	width: 15px;
	height: 15px;
	padding: 0;
	text-align: center;
	font-size: 0.8em;
}

.minesweeper td.lost{
	background-color: #FF0000;
}

.minesweeper td.suspect{
	background-color: #FFF000;
}

.minesweeper td.safe{
	background-color: #FFFFFF;
}
</style>

<script type="text/javascript" src="/minesweeper.js"></script>


<h1 id="title">Minesweeper</h1>
<label for="suspect-mode">Suspect Mode</label><input type="checkbox" id="suspect-mode" />
<table class="minesweeper">
	{{#each cells}}
	<tr>
		{{#each this}}
		<td id="{{this}}">&nbsp;</td>
		{{/each}}
	</tr>
	{{/each}}
</table>