<script>
function dockShip(){
	var shipname = document.getElementById("ship").value;
	document.getElementById("ship-1").innerHTML = shipname;
}
</script>


<h1 id="astroport-name">Astroport</h1>

<div id="gate-1">
	Gate One
	<div id="ship-1">Ship A</div>
</div>
<div id="gate-2">
	Gate Two
	<div id="ship-2">Ship B</div>
</div>
<div id="gate-3">
	Gate Three
	<div id="ship-3">Ship C</div>
</div>

<form>
	<input id="ship" type="text" class="u-full-width" placeholder="Ship ..." />
	<button id="dock" type="button" class="button-primary" onclick="javascript:dockShip();">Dock</button>
</form>