<style>
	.feature img {
	    margin-bottom: 15px;
	    max-width: 100%;
	    height: auto;
		border-radius: 5px;
	}
</style>

<h2>Welcome</h2>
<div class="row">
	<div class="four columns feature">
		<h3><a id="ping-challenge-link" href="/ping">Ping Me</a></h3>
	    <img src="http://lorempixum.com/400/200/technics/6">
		<p>Just to check that the application is UP.</p>
	</div>
	<div class="four columns feature">
		<h3><a id="astroport-link" href="/astroport">Astroport</a></h3>
	    <img src="http://lorempixum.com/400/200/transport/2">
		<p>Manage the astroport.</p>
	</div>
	<div class="four columns feature">
		<h3><a id="minesweeper-link" href="/minesweeper">Minesweeper</a></h3>
	    <img src="http://lorempixum.com/400/200/sports">
		<p>Let's play to minesweeper!</p>
	</div>
</div>
<div class="row">
	<div class="four columns feature">
		<h3><a id="prime-factors-decomposition-link" href="/primeFactors/ui">PrimeFactors</a></h3>
	    <img src="http://lorempixum.com/400/200/people">
		<p>Here's the prime factors calculator.</p>
	</div>
</div>
