<style>
.minesweeper 
{
	border: 1px solid #111111;
	border-collapse: collapse;
}

.minesweeper td
{
	border: 1px solid #111111;
	background-color: #888888;
}
</style>

<script>
function load(){
	for(var rowIndex in document.grid)
	{
		line = parseInt(rowIndex);
		for(var cellIndex in document.grid[line])
		{
			cell = parseInt(cellIndex);
			if(document.grid[line][cell] == "bomb")
			{
				var id = "cell-"+ (line+1) +"x"+ (cell+1);
				document.getElementById(id).setAttribute("onclick", "javascrit:boom(this);");
			}
		}
	}
}

function boom(cell){
	cell.setAttribute("class", "lost");
}
</script>

<h1 id="title">Minesweeper</h1>
<table class="minesweeper">
	{{#each cells}}
	<tr>
		{{#each this}}
		<td id="{{this}}">&nbsp;</td>
		{{/each}}
	</tr>
	{{/each}}
</table>